body{
    font-family: 'Poppins', sans-serif;  
    margin:0;

}
.hello {
	  font-weight: 400;
}

.hader-img {
      background-image: url(images/header-bg.png);
      background-repeat: no-repeat;
	  background-size: cover;
	  
}
.half-width{
     width:40%;
     float: left;
     margin-left: 5%;
     padding-left: 2%;
}
.half-width img{
     width: 100%;
}
.pink-hightlight {
      color: rgb(236,76,122);
	  font-weight:900;
	  font-size: 40px;
}
.link-button{
      text-decoration: none;
      background-image:linear-gradient(120deg, rgb(236,76,122),rgb(236,76,146));
      padding: 10px 20px;
      color: white;
      border-radius: 5px;
      font-weight: 700;
}
section {
      height: 500px;
      padding-bottom: 150px;
	  padding-top : 60px;
}
.bioigraphy-section{
	background-image:url(images/biography-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.lastwork-section {
	 background-image:url(images/latest-work-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.center-title {
	 text-align: center;
}
.work-img{
	 width:25%;
     float: left;
     padding-left: 2%;
}
.work-img img{
	 width:100%;
}
.work-img-container{
	 margin-left:12%;
}
.client-opinion{
	 position:relative;
	 
}
.child {
	 position: absolute;
	 width:500px;
	 top:0;
	 bottom:0;
	 right: 0;
	 left:0;
	 margin:auto;
	 text-align:center;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.serviese {
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
    height: 80%;
    padding: 15px;
    background-color: white;
}
#key-serivce{
    border-left: 7px solid;
    border-image: linear-gradient(90deg, rgb(236,76,122),tomato);
    border-image-slice: 1;
}
#hire-me{
    border-left: 7px solid;
       border-image: linear-gradient(90deg, rgb(236,76,122),tomato);
      border-image-slice: 1;
}
.bottom-class{
     padding-bottom: 40px;
}
.centering-text {
     text-align: center;
}
.footer-section{
     text-align: center;
     font-size: smaller;
     color: dimgray;
}